<section class="pageBannerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="pageBannerContent text-center">
          <h2>{{title}}</h2>
          <div class="pageBannerPath">
            {% if 'Product Details' in title %}
                <a href="{% url 'main' %}">Home</a>&nbsp;&gt;&nbsp;<a href="{% url 'shop' %}">Shop</a>&nbsp;&gt;&nbsp;<a href="{% url 'main' %}">{{hint}}</a>
            {% else %}
                <a href="{% url 'main' %}">Home</a>&nbsp;&gt;&nbsp;<a href="{% url 'main' %}">{{hint}}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
