{% load i18n %}
{% load static %}
<section class="latestArrivalSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="secTitle">{{title}}</h2>
        <p class="secDesc">{{hint}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="productCarousel owl-carousel owl-loaded owl-drag">
            {% for product in products %}
            <div class="item">
              {% include 'components/commun/product_card.html' %}
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
