{% load i18n %}
{% load static %}
<section class="featureSection">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xl-3">
        <div class="iconBox01">
          <i class="ulina-fast-delivery"></i>
          <h3>Shipping</h3>
          <p>Ut enim ad minim veniam liquip ami tomader</p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="iconBox01">
          <i class="ulina-credit-card tm5"></i>
          <h3>Secure Payments</h3>
          <p>Eonim ad minim veniam liquip tomader</p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="iconBox01">
          <i class="ulina-refund tm1"></i>
          <h3>Easy Returns</h3>
          <p>Be enim ad minim veniam liquipa ami tomader</p>
        </div>
      </div>
      <div class="col-md-6 col-xl-3">
        <div class="iconBox01">
          <i class="ulina-hours-support t1"></i>
          <h3>24/7 Support</h3>
          <p>Ut enim ad minim veniam liquip ami tomader</p>
        </div>
      </div>
    </div>
  </div>
</section>
