{% load static %}
<section class="instagramSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="secTitle">Follow Us in Instagram {{config.instagram}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="instagramSlider owl-carousel owl-loaded owl-drag"> 
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1116px, 0px, 0px); transition: all 0s ease 0s; width: 3348px;"><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/1_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/1.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/2_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/2.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/3_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/3.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/4_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/4.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/5_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/5.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item active" style="width: 223.2px;"><a href="{% static 'media/1_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/1.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item active" style="width: 223.2px;"><a href="{% static 'media/2_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/2.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item active" style="width: 223.2px;"><a href="{% static 'media/3_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/3.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item active" style="width: 223.2px;"><a href="{% static 'media/4_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/4.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item active" style="width: 223.2px;"><a href="{% static 'media/5_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/5.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/1_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/1.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/2_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/2.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/3_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/3.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/4_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/4.jpg' %}" alt="Ulina Instagram">
                    </a></div><div class="owl-item cloned" style="width: 223.2px;"><a href="{% static 'media/5_f.jpg' %}" class="instagramPhoto imgPopup">
                        <img src="{% static 'media/5.jpg' %}" alt="Ulina Instagram">
                    </a></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
            </div>
        </div>
    </div>
</section>