{% load i18n %}
<section class="dealProductSection" >
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="dealProductContent">
                    <h5>Featured Product</h5>
                    <h2>Ulima Fashionable Jeans</h2>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa uis aute irure dolor </p>
                    <div class="dpcPriceWrap">
                        <div class="pi01Price">
                            <ins>$199</ins>
                            <del>$399</del>
                        </div>
                        <a href="shop_details1.html" class="ulinaBTN"><span>Buy Now</span></a>
                    </div>
                    <div class="countDownWrap">
                        <h6>Ends in</h6>
                        <div class="ulinaCountDown is-countdown" data-day="26" data-month="07" data-year="2022"><span class="countdown-row countdown-show4"><span class="countdown-section"><span class="countdown-amount">1</span><span class="countdown-period">Day</span></span><span class="countdown-section"><span class="countdown-amount">23</span><span class="countdown-period">Hrs</span></span><span class="countdown-section"><span class="countdown-amount">59</span><span class="countdown-period">Mins</span></span><span class="countdown-section"><span class="countdown-amount">29</span><span class="countdown-period">Secs</span></span></span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="dealProductImage">
                    <img src="static/media/7.png" alt="Ulima Fashionable Jeans">
                </div>
            </div>
        </div>
    </div>
</section>