{% load static %}
{% load i18n %}
{% load functions %}
<a href="javascript:void(0);" class="cartIcon"><i class="fa-solid fa-shopping-cart"></i><span>{{ cart|length }}</span></a>
<div class="cartWidgetArea">
  {% if cart %}
    {% if cart|length != 0 %} 
    {% for item_id in cart %}
      {% for item in item_id %}
        <div class="cartWidgetProduct">
          <img src="{{ item.product.get_images.0.image.url }}" alt="{{ item.product.name }}" />
          <a href="{% url 'product_details' item.product.slug %}">
            {{ item.product.name }}
          </a>
          <span> 
            {% for property in item.properties %}
            {{ property.name }}&nbsp;&nbsp;
            {% endfor %}
          </span>
          <div class="cartProductPrice clearfix">
            <span class="cart_quantity">{{ item.quantity }}</span> x <span class="cart_price">{{ item.product.price|convert:request }}</span>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
    <div class="totalPrice">
      Subtotal:
      <span class="price">{{ cart.get_total_price|convert:request }}</span>
    </div>
    <div class="cartWidgetBTN clearfix">
      <a class="cart" href="{% url 'cart' %}">{% trans "View Cart" %}</a>
      <a class="checkout" href="{% url 'checkout' %}">{% trans "Checkout" %}</a>
    </div>
    {% endif %}
  {% else %}
    <div class="cartWidgetProductEmpty">{% trans "No products in the cart." %}</div>
  {% endif %}
</div>
<script src="{% static 'js/cart.js' %}" defer></script>
