{% load static %}
{% load i18n %}
{% load functions %}
<head>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100">
        {% if not customer.get_orders or request.mobile %}
          <div class="divo">
            <div class="bg-white text-secondary  p-3" style="border-radius: 10px;">No orders found, chekout our products <a href="{% url 'shop' %}" class="ulinaBTN">Our Store</a></div>
          </div>
        {% endif %}
        <table>
          <thead>
            <tr class="table100-head">
              {% if customer.get_orders %}
              <th class="column1">Date</th>
              <th class="column2">Order ID</th>
              <th class="column3">Payment Method</th>
              <th class="column4">Status</th>
              <th class="column6">Total</th>
              {% else %}
              <th class="column1 bg-white text-secondary">No orders found, chekout our products <a href="{% url 'shop' %}" class="ulinaBTN">Our Store</a></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for order in customer.get_orders %}
                <tr data-order="{{order.id}}" class="orderTr">
                  <td class="column1">{{order.date_ordered}}</td>
                  <td class="column2">{{order.id}}</td>
                  <td class="column3">{{order.payment_method}}</td>
                  <td class="column4">{% if order.delivered %} <span class="color-success">Delivered</span> {% else %}{% if order.complete %}<span class="color-success">Paid</span>{% else %}<span>Shipping</span>{% endif %}{% endif %}</td>
                  <td class="column6">{{order.total_price|convert:request}}</td>
                {% for item in order.items.all %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

