{% extends 'base.html' %}
{% load functions %}
{% block content %}
    {% if 0|get_current_language == 'fr' %}
        {% include 'components/commun/page_banner.html' with title='Product Details' hint=product.name %}
        {% include 'components/product/product_details.html' %}
        {% include 'components/commun/products_slider.html' with title='Produits suggérés' hint='' products=related_products %}
    {% elif 0|get_current_language == 'ar' %}
        {% include 'components/commun/page_banner.html' with title='Product Details' hint=product.name %}
        {% include 'components/product/product_details.html' %}
        {% include 'components/commun/products_slider.html' with title='المنتجات المقترحة' hint='' products=related_products %}
    {% else %}
        {% include 'components/commun/page_banner.html' with title='Product Details' hint=product.name %}
        {% include 'components/product/product_details.html' %}
        {% include 'components/commun/products_slider.html' with title='Suggested Products' hint='' products=related_products %}
    {% endif %}
    {% include 'components/commun/page_banner.html' with title='Product Details' hint=product.name %}
    {% include 'components/product/product_details.html' %}
    {% include 'components/commun/products_slider.html' with title='Suggested Products' hint='' products=related_products %}
    {% include 'components/commun/product_modal.html' %}
{% endblock content %}
