{% include 'components/base/head.html' %}
<div id="carousel1" class="owl-carousel">
    <div class="item" data-hash="slide1">Slide 1</div>
    <div class="item" data-hash="slide2">Slide 2</div>
    <div class="item" data-hash="slide3">Slide 3</div>
</div>
<div id="carousel2" class="owl-carousel">
    <div class="item" data-hash="slide1"><a href="#slide1">1</a></div>
    <div class="item" data-hash="slide2"><a href="#slide2">2</a></div>
    <div class="item" data-hash="slide3"><a href="#slide3">3</a></div>
</div>
{% include 'components/base/scripts.html' %}
<script defer>
    $('#carousel1').owlCarousel({
        items: 1,
        URLhashListener: true,
        startPosition: 'URLHash'
    });
    // Initialize second carousel
    $('#carousel2').owlCarousel({
        items: 3,
        URLhashListener: true,
        startPosition: 'URLHash'
    });
    $('.slide-link').click(function(e){
        e.preventDefault();
        var hash = $(this).attr('href');
        $('#carousel1').trigger('to.owl.carousel', [$(hash).index(), 500, true]);
        $('#carousel2').trigger('to.owl.carousel', [$(hash).index(), 500, true]);
    });
  </script>