{% load i18n %}
{% load functions %}
{% load static %}
<section class="checkoutPage">
  <form action="{% url 'checkout_process' %}" id="checkout_form" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col" >
          <div class="shippingCoupons">
            <h3>{% trans "Coupon Code" %}</h3>
            <div class="couponFormWrap clearfix">
                <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="{% trans "Write your Coupon Code" %}">
                <button type="javascript:void(0);" class="ulinaBTN" name="apply_coupon" value="Apply Code"><span>{% trans "Apply Code" %}</span></button>
            </div>
        </div>
        </div>
      </div>
      <div class="row">
        {% if cart|length > 0 %}
          <div class="col-lg-6">
            <div class="checkoutForm">
              <h3>{% trans "Your Billing Address" %}</h3>
              <div class="row checkoutInputs" >
                <div class="col-md-12 email_container_op">
                  <span style="padding-left: 25px;">
                    <small>{% trans "(optional) Fill it if you want to recieve reciept in your inbox" %}</small>
                  </span>
                  <span style="padding-left: 25px;">
                    <small>
                      <label id="email_optional-error" class="error" for="email_optional"></label>
                    </small>
                  </span>
                  <input type="email" name="email_optional"  placeholder="{% trans "Email (Not Required)" %}" />
                </div>
                <div class="col-md-12">
                  <span style="padding-left: 25px;">
                    <small>
                      <label id="name-error" class="error" for="name"></label>
                    </small>
                  </span>
                  <input type="text" name="name" placeholder="{% trans "Full Name" %}" />
                </div>
                <div class="col-md-12">
                  <span style="padding-left: 25px;">
                    <small>
                      <label id="phone-error" class="error" for="phone"></label>
                    </small>
                  </span>
                  <input type="text" name="phone" placeholder="{% trans "Phone" %}" />
                </div>
                <div class="col-lg-6">
                  <span style="padding-left: 25px;">
                    <small>
                      <label id="address-error" class="error" for="address"></label>
                    </small>
                  </span>
                  <input type="text" name="address" placeholder="{% trans "Address" %}" />
                </div>
                <div class="col-lg-6">
                  <span style="padding-left: 25px;">
                    <small>
                      <label id="city-error" class="error" for="city"></label>
                    </small>
                  </span>
                  <input type="text" name="city" placeholder="{% trans "City" %}" />
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="orderReviewWrap">
              <h3>{% trans "Your Order" %}</h3>
              <div class="orderReview">
                <table>
                  <thead>
                    <tr>
                      <th>{% trans "Item" %}</th>
                      <th>{% trans "Price" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item_id in cart %}
                    {% for item in item_id %}
                    <tr>
                      <td>
                        <a href="javascript:void(0);">{{item.product.name}}</a>  {% for property in item.properties %},{{ property.name }}{% endfor %} x {{item.quantity}}
                      </td>
                      <td>
                        <div class="pi01Price">
                          <ins>{{item.total_price|convert:request}}</ins>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>{% trans "Sub Total" %}</th>
                      <td>
                        <div class="pi01Price">
                          <ins>{{cart.get_total_price|convert:request }}</ins>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{% trans "Coupon Discount" %}</th>
                      <td>
                        <div class="pi01Price">
                          <ins>- {{0|convert:request }}</ins>
                        </div>
                      </td>
                    </tr>
                    <tr class="shippingRow">
                      <th>{% trans "Shipping" %}</th>
                      <td>
                        <div class="pi01Price">
                          <ins>{% trans "Free" %}</ins>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>{% trans "Total" %}</th>
                      <td>
                        <div class="pi01Price">
                          <ins>{{cart.get_total_price|convert:request }}</ins>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <ul class="wc_payment_methods" style="margin: 0%;">
                  <li class="active">
                    <input type="radio" checked="" value="1" name="payment_method" id="paymentMethod01" />
                    <label for="paymentMethod01">{% trans "Cash On Delivery" %}</label>
                  </li>
                  <li class="active">
                    <input type="radio" value="2" name="payment_method" id="paymentMethod02" />
                    <label for="paymentMethod02">{% trans "Credit Card (CMI)" %}</label>
                  </li>
                  <li class="">
                    <input type="radio" value="3" name="payment_method" id="paymentMethod03" />
                    <label for="paymentMethod03"><span>Paypal </span><i class="fa-brands fa-paypal" style="font-size: large;"></i></label>
                  </li>
                  <small style="padding-left: 25px;"><label id="payment_method-error" class="error" for="payment_method"></label></small>
                </ul>
                <div class="email_container checkoutForm" style="padding: 0%;">

                </div>
                <a href="javascript:void(0)" class="placeOrderBTN ulinaBTN"><span>{% trans "Place Order" %}</span></a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
  <script src="{% static 'js/jquery.validate.min.js' %}" defer></script>
  <script src="{% static 'js/checkout.js' %}" defer></script>
</section>
