{% load functions %}
{% load static %}
<section class="checkoutPage">
  <form action="/checkout_process" id="checkout_form" method="post">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col" >
          <div class="shippingCoupons">
            <h3>Coupon Code</h3>
            <div class="couponFormWrap clearfix">
                <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Write your Coupon Code">
                <button type="javascript:void(0);" class="ulinaBTN" name="apply_coupon" value="Apply Code"><span>Apply Code</span></button>
            </div>
        </div>
        </div>
      </div>
      <div class="row">
        {% if cart|length > 0 %}
          <div class="col-lg-6">
            <div class="checkoutForm">
              <h3>Your Billing Address</h3>
              <div class="row checkoutInputs" >
                <div class="col-md-12">
                  <input type="text" name="name" placeholder="Full Name" />
                </div>
                <div class="col-md-12">
                  <input type="text" name="phone" placeholder="Phone" />
                </div>
                <div class="col-lg-6">
                  <input type="text" name="address" placeholder="Address" />
                </div>
                <div class="col-lg-6">
                  <input type="text" name="city" placeholder="City" />
                </div>
                <div class="col-lg-6">
                  <label id="email-error" class="error" for="email"></label>
                  <label id="name-error" class="error" for="name"></label>
                  <label id="phone-error" class="error" for="phone"></label>
                  <label id="address-error" class="error" for="address"></label>
                  <label id="city-error" class="error" for="city"></label>
                  <label id="payment_method-error" class="error" for="payment_method"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="orderReviewWrap">
              <h3>Your Order</h3>
              <div class="orderReview">
                <table>
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item_id in cart %}
                    {% for item in item_id %}
                    <tr>
                      <td>
                        <a href="javascript:void(0);">{{item.product.name}}</a>  {% for property in item.properties %},{{ property.name }}{% endfor %} x {{item.quantity}}
                      </td>
                      <td>
                        <div class="pi01Price">
                          <ins>{{item.total_price|convert:request}}</ins>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Sub Total</th>
                      <td>
                        <div class="pi01Price">
                          <ins>{{cart.get_total_price|convert:request }}</ins>
                        </div>
                      </td>
                    </tr>
                    <tr class="shippingRow">
                      <th>Shipping</th>
                      <td>
                        <div class="pi01Price">
                          <ins>Free</ins>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>Total</th>
                      <td>
                        <div class="pi01Price">
                          <ins>{{cart.get_total_price|convert:request }}</ins>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
                <ul class="wc_payment_methods">
                  <li class="active">
                    <input type="radio" checked="" value="1" name="payment_method" id="paymentMethod01" />
                    <label for="paymentMethod01">Cash On Delivery</label>
                  </li>
                  <li class="active">
                    <input type="radio" value="2" name="payment_method" id="paymentMethod02" />
                    <label for="paymentMethod02">Credit Card (CMI) <span class="error">Coming Soon</span> </label>
                  </li>
                  <li class="">
                    <input type="radio" value="3" name="payment_method" id="paymentMethod03" />
                    <label for="paymentMethod03">Paypal <span class="error">Coming Soon</span></label>
                  </li>
                </ul>
                <a href="javascript:void(0)" class="placeOrderBTN ulinaBTN"><span>Place Order</span></a>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
  <script src="{% static 'js/jquery.validate.min.js' %}" defer></script>
  <script src="{% static 'js/checkout.js' %}" defer></script>
</section>
