{% load i18n %}
<table class="p-5" style="margin: 50px auto;">
    <tr>
        <td>
            <center>
                <div class="bg-danger text-white" style="padding: 20px;border-radius: 20px;">{% trans "Unfortunately, we were unable to process your payment" %}</div>
            </center>
        </td>
    </tr>
    <tr>
        <td>
            <center>
                <div style="padding: 20px;border-radius: 20px;">
                    <a class="ulinaBTN text-white" href="{% url 'checkout' %}"><span>{% trans "Try Again" %}</span></a>
                </div>
            </center>
        </td>
    </tr>
</table>